/* -- CSS RESET -- */
*{ padding: 0;
  margin; 0;
  font-size; 100%;
  line-height: 1em;
}
body {
width: 100%;
max-width: 100%;
    max-height: 100%;
font-family: 'Kirang Haerang', cursive;
  margin: auto;
  color: black;}

/*--Headings--*/

h1 {font-size: 5em;
 color: white;;
    left:5em;}
h2 {font-size: 5em;
color: black;
left: 10em;}

h3 { font: 8em;
color: black;
left: 45em;}

.great{position: absolute; 
margin-top: 6em;}

.nothing {position: absolute; 
margin-top: 7.4em;}

.mind {position: absolute; 
margin-top: 6em;}

.little {position: absolute; 
margin-top: 7.4em;}

.sherlock {position: absolute; 
margin-top: 37em;}

/* --Section-- */

.quote {background-image: url(sherlocktypography.png);
 background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    padding-bottom: 50em;
padding-top: 2em;}

/*--Images--*/
img { display: block;
margin: auto;
    max-width: 100%;
    height: auto;
align-content: center;}


/*--Footer--*/ 
footer {width: 100%; 
background-color: #496f74;
    text-align: center;
padding-top: 1em;
    padding-bottom: 1em;}

/*--tablet--*/
@media (max-width: 1000px) {
    
    
    
  body{
/*    background-color: #8080ff;*/
    width: 100%;
    
    }

    article p {
        margin-left: 6em;
        margin-right: 6em;
    }

